body {
	font-family: 'Roboto', sans-serif;
}

.demo-container {
	display: grid;
	max-width: 1366px;
	width: 100%;
	padding: 0 64px 64px;
	margin: 0 auto;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 64px;
	box-sizing: border-box;
}

.demo-header {
	grid-column: 1/3;
	display: flex;
	justify-content: space-between;
	height: 64px;
	padding: 16px 0;
	margin-bottom: 64px;
	border-bottom: 1px solid #888;

	li {
		display: flex;
		align-items: center;
	}

	&__title {
		font-family: monospace;

		h2 {
			font-weight: 400;

			span {
				font-weight: 500;
			}
		}
	}
}

.demo-options {
	li {
		display: block;
		height: 64px;
		line-height: 32px;
		font-size: 16px;
		max-width: 250px;
		font-family: monospace;
		padding: 8px 16px;
		box-sizing: border-box;

		h4 {
			margin: 0 0 12px;

			span {
				margin-left: 8px;
				color: #888;
			}
		}
	}
}

.demo-colors {
	li {
		display: flex;
		border-radius: 2px;
		align-items: center;
		height: 48px;
		line-height: 32px;
		font-size: 16px;
		max-width: 250px;
		box-sizing: border-box;
		margin-bottom: 8px;
		cursor: pointer;
		transition: box-shadow 0.2s;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}

		.swatch {
			width: 48px;
			height: 48px;
			border-radius: 2px 0 0 2px;
		}

		.color-info {
			padding: 8px 16px;
			line-height: 20px;
			color: #444;

			h3 {
				font-weight: 400;
				margin: 0;
			}

			h5 {
				font-weight: 400;
				color: #AAA;
				margin: 0;
			}
		}
	}
}

.color-warning {
	color: #888;
	padding: 8px 16px;
}