body {
	font-family: 'Roboto', sans-serif;
}

.demo-container {
	display: grid;
	max-width: 1366px;
	width: 100%;
	padding: 0 64px 64px;
	margin: 0 auto;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 64px;
	box-sizing: border-box;
}

.demo-header {
	grid-column: 1/3;
	display: flex;
	justify-content: space-between;
	height: 64px;
	padding: 16px 0;
	margin-bottom: 32px;
	border-bottom: 1px solid #888;

	li {
		display: flex;
		align-items: center;
	}

	&__title {
		font-family: monospace;

		h2 {
			font-weight: 400;

			span {
				font-weight: 500;
			}
		}
	}

	.octocat {
		width: 32px;
		height: 32px;
		padding: 8px;
	}
}

.demo-options {
	li {
		display: block;
		height: 64px;
		line-height: 32px;
		font-size: 16px;
		width: 100%;
		max-width: 300px;
		font-family: monospace;
		padding: 8px 16px;
		box-sizing: border-box;

		h4 {
			margin: 0 0 12px;

			span {
				margin-left: 8px;
				color: #888;
			}
		}
	}
}

.demo-colors {
	li {
		display: flex;
		border-radius: 2px;
		align-items: center;
		height: 64px;
		padding: 8px;
		line-height: 32px;
		font-size: 16px;
		width: 100%;
		max-width: 300px;
		box-sizing: border-box;
		margin-bottom: 8px;
		cursor: pointer;
		transition: box-shadow 0.2s;
		user-select: none;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}

		.swatch {
			width: 48px;
			height: 48px;
			border-radius: 2px 0 0 2px;
		}

		.color-info {
			line-height: 20px;
			color: #444;
			padding: 0 8px;

			h3 {
				font-weight: 400;
				margin: 0;
			}

			h5 {
				font-weight: 400;
				color: #AAA;
				margin: 0;
			}
		}
	}
}

.color-warning {
	color: #888;
	padding: 8px 16px;
}

.image-container {
	width: 100%;
	max-height: 75vh;
	margin-bottom: 8px;
	position: relative;
	cursor: pointer;

	img {
		display: block;
		width: 100%;
	}

	.image-cover {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 2;
		text-align: center;
		background: rgba(0, 0, 0, 0.25);
		color: #EEE;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s;

		&__label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.2;
		}
	}

	&:hover .image-cover {
		visibility: visible;
		opacity: 1;
	}
}

.image-gallery {
	&__selected {
		width: 100%;
		max-width: 100%
		max-height: 35vh;
		margin: 0 auto 16px;
	}

	&__list {
		display: grid;
		grid-gap: 4px;
		grid-template-columns: repeat(auto-fit, minmax(86px, 1fr));
		max-height: 30vh;
		overflow-y: auto;

		li {
			&.--horizontal {

			}

			&.--vertical {

			}
		}
	}

	&__image {
		width: 100%;
	}
}